* {
  transition: 0.5s all;
}

body, html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.container {
  width: 1170px;
  padding: 0 30px;
  margin: auto;
  @media screen and (max-width: 1200px) {
    width: 100%;
    box-sizing: border-box;
  }
  @media screen and (max-width: 1200px) {
    padding: 0 15px;
  }
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid #b4b4b4;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }
  
  &__social {
    a {
      text-decoration: none;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.header-top-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }

  &__item {
    display: flex;
    align-items: center;
    font-size: 14px;
    @media screen and (max-width: 1000px) {
      font-size: 10px;
    }

    span {
      img {
        display: block;
      }

      &:first-child {
        margin-right: 10px;
      }
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    &:last-child {
      margin-left: 15px;
    }
  }
}

.header-top-work {
  font-size: 14px;
}

header{
  .header-top-work {
    @media screen and (max-width: 1000px) {
      font-size: 10px;
    }
  }
}

.header-middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid #b4b4b4;
  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }
}

.header-middle-logo {
  display: flex;
  align-items: center;

  &__link {
    margin-right: 60px;
    @media screen and (max-width: 1200px) {
      margin-right: 20px;
    }
    @media screen and (max-width: 1000px) {
      margin-right: 10px;
    }

    img {
      @media screen and (max-width: 1000px) {
        width: 100px;
      }
    }
  }

  &__caption {
    font-weight: 100;
    font-size: 18px;
    @media screen and (max-width: 1000px) {
      font-size: 10px;
      font-weight: 400;
      
      br {
        display: none;
      }
    }
  }
}

.header-middle-phone {
  display: flex;
  align-items: center;

  &:hover {
    opacity: 0.8;
  }
  
  span {
    img {
      margin-right: 15px;
      display: block;
    }
  }

  &__link {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 30px;

    @media screen and (max-width: 1200px) {
      font-size: 21px;
    }

    @media screen and (max-width: 1000px) {
      font-size: 16px;
    }

    span {
      font-weight: 400;
    }
  }
}

.header-middle-call {
  width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  background: #1468b6;
  color: #fff;
  font-size: 16px;
  border: 1px solid transparent;

  @media screen and (max-width: 1000px) {
    font-size: 14px;
  }

  &:hover {
    border: 1px solid #1468b6;
    background: unset;
    color: #1468b6;
  }
}

@media screen and (max-width: 1000px) {
  header {
    .header-middle-call {
      margin-top: 20px;
    }
  }
}

.header-menu-sub {
  display: none;
  background: #1468b6;
  list-style: none;
  margin: 0;
  width: 360px;
  position: absolute;
  z-index: 10;
  padding: 30px 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.18);
  @media screen and (max-width: 1000px) {
    display: none !important;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__link {
    color: #fff;
    font-size: 14px;
  }
}


.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  @media screen and (max-width: 1000px) {
    display: none;
  }

  &__item {
    position: relative;
    padding: 15px 0;
    &--sub {
      &::after {
        content:"";
        position: absolute;
        right: -25px;
        top: 19px;
        background: url("../image/icon-ar.png") no-repeat;
        width: 20px;
        height: 20px;
      }
    }

    &:hover {
      .header-menu-sub {
        display: block;
        top: 42px;

        &__link:hover {
          text-decoration: none;
        }
      }
    }
  }

  &__link {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.banner {
  position: relative;

  &__image {
    width: 100%;
    max-width: 100%;
    display: block;
    @media screen and (max-width: 1000px) {
      min-height: 200px;
      object-fit: cover;
    }
  }

  &__text {
    font-weight: 900;
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    @media screen and (max-width: 1367px) {
      font-size: 50px;
    }
    @media screen and (max-width: 1200px) {
      font-size: 30px;
    }
    @media screen and (max-width: 1000px) {
      font-size: 18px;
    }

    span {
      color: #f66c19;
    }
  }

  .container {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    @media screen and (max-width: 1367px) {
      bottom: unset;
      top: 50px;
    }
    @media screen and (max-width: 1000px) {
      top: 25px;
    }
  }
}

.adv {
  display: flex;
  align-items: center;
  margin-top: -70px;
  position: relative;

  @media screen and (max-width: 1000px) {
    margin-top: 0;
    background: #f66c19;
  }

  &::after {
    content: "";
    position: absolute;
    height: 330px;
    width: 70%;
    background: #f66c19;
    @media screen and (max-width: 1367px) {
      width: 75%;
    }
    @media screen and (max-width: 1200px) {
      width: 100%;
    }
    @media screen and (max-width: 1000px) {
      display: none;
    }
  }

  .container {
    position: relative;
    z-index: 1;
  }
}

.adv-title {
  width: 460px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  background: #fff;
  color: #000;
  font-size: 30px;
  text-transform: uppercase;
  position: absolute;
  top: -45px;
  @media screen and (max-width: 1000px) {
    width: 100%;
    font-size: 20px;
    height: 55px;
    margin-top: 20px;
    position: static;
  }
}

.adv-list {
  position: relative;
  display: flex;
  height: 330px;
  align-items: center;
  @media screen and (max-width: 1000px) {
    flex-direction: column;
    height: auto;
  }

  &__text {
    color: #fff;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 15px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 160px;
      @media screen and (max-width: 1000px) {
        margin: 20px auto;
      }
    }
    @media screen and (max-width: 1000px) {
      margin: 20px auto;
      text-align: center;
    }
  }
}

.komp {
  position: absolute;
  right: 0;
  @media screen and (max-width: 1367px) {
    max-width: 400px;
    width: 100%;
  }
  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.title {
  position: relative;
  font-size: 60px;
  color: #000000;
  width: max-content;
  margin-left: auto;
  font-weight: 100;
  @media screen and (max-width: 1000px) {
    font-size: 20px;
    font-weight: 700;
  }

  &--is-revert {
    margin-right: auto;
    margin-left: 0;

    &::after {
      left: unset !important;
      right: -150px;
    }
  }

  &::after {
    content: "";
    width: 125px;
    height: 5px;
    position: absolute;
    left: -150px;
    top: calc(50% - 2px);
    background: #f66c19;
  }
}

.services {
  padding: 120px 0 100px;
  @media screen and (max-width: 1000px) {
    padding: 50px 0 40px;
  }

  &__title {
    text-align: right;
    font-weight: 400;
  }
}

.services-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 60px;
  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr;
    grid-gap: 15px;
    margin-top: 30px;
  }
}

.services-list-item {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #1468b6;
  height: 265px;
  @media screen and (max-width: 1000px) {
    height: 200px;
  }

  &__image {
    margin-bottom: 23px;
  }

  &__caption {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 36px;
    @media screen and (max-width: 1000px) {
      font-size: 20px;
    }
  }

  &:hover {
    background: #fc721f;
  }
}

.arx {
  padding: 0 0 100px;
  @media screen and (max-width: 1000px) {
    padding: 0 0 40px;
  }
  
  &__title {
    font-size: 60px;
    color: #000;
    text-align: center;
    @media screen and (max-width: 1000px) {
      font-size: 20px;
    }
  }
}

.arx-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 40px;
  grid-gap: 35px;
  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr;
    margin-top: 20px;
    grid-gap: 15px;
  }

  &__item {
    display: flex;
    align-items: center;
    border: 1px solid #bababa;
    padding: 40px 24px;
    @media screen and (max-width: 1000px) {
      padding: 20px 12px;
    }

    span {
      &:first-child {
        margin-right: 20px;
      }

      &:last-child {
        font-size: 23px;
        color: #000;
        @media screen and (max-width: 1000px) {
          font-size: 16px;
        }
      }
    }
  }
}

.about {
  min-height: 615px;
  position: relative;
  margin-top: 100px;
  @media screen and (max-width: 1000px) {
    margin-top: 40px;
    min-height: auto;
  }

  &__image {
    position: absolute;
    left: 0;
    top: -45px;
    @media screen and (max-width: 1200px) {
      img {
        width: 100%;
      }
    }
    @media screen and (max-width: 1000px) {
      display: none;
    }
  }
}

.about-content {
  padding: 40px 65px;
  position: relative;
  z-index: 10;
  max-width: 50%;
  margin-left: auto;
  @media screen and (max-width: 1000px) {
    padding: 25px 15px;
    max-width: 100%;
    background: #1468b6;
  }

  &__info {
    font-size: 20px;
    color: #fff;
    max-width: 600px;
    width: 100%;
    margin-top: 30px;
    position: relative;
    z-index: 3;
    @media screen and (max-width: 1000px) {
      font-size: 14px;
    }
  }

  &__title {
    position: relative;
    font-size: 48px;
    color: #fff;
    max-width: max-content;
    @media screen and (max-width: 1000px) {
      font-size: 20px;
      font-weight: 700;
    }

    &::after {
      content:"";
      width: 125px;
      height: 3px;
      background: #fff;
      position: absolute;
      right: -145px;
      top: calc(50%);
    }
  }

  &__btn {
    width: 230px;
    height: 55px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #1468b6;
    font-size: 24px;
    margin-top: 45px;
    border-radius: 5px;
    position: relative;
    border: 1px solid transparent;
    z-index: 3;
    @media screen and (max-width: 1000px) {
      margin-left: auto;
      margin-right: auto;
      font-size: 18px;
    }
    
    &:hover {
      background: #1468b6;
      color: #fff;
      border: 1px solid #fff;
    }
  }

  &::after {
    content:"";
    position: absolute;
    right: 0;
    background: #f66c19;
    width: 100%;
    height: 508px;
    top: 25px;
    left: -25px;
    z-index: -3;
    @media screen and (max-width: 1000px) {
      display: none;
    }
  }

  &::before {
    content:"";
    position: absolute;
    right: 0;
    width: 100%;
    height: 508px;
    top: 0;
    left: 0;
    background: #1468b6;
    @media screen and (max-width: 1000px) {
      background: none;
    }
  }
}

.form {
  background: url("../image/form-bg.jpg") no-repeat;
  background-size: cover;
  min-height: 520px;
  margin-top: 130px;
  padding-top: 120px;
  @media screen and (max-width: 1000px) {
    padding-top: 20px;
    margin-top: 40px;
  }
}

.form-wrap {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }

  &__licence {
    position: relative;
    
    @media screen and (max-width: 1000px) {
      br {
        display: none;
      }
    }

    input {
      position: relative;
      z-index: 1;
      opacity: 0;
      cursor: pointer;
    }

    .xas12 {
      width: 17px;
      height: 17px;
      background: unset;
      display: block;
      border:1px solid #fff;
      border-radius: 50%;
      position: absolute;
      left: 1px;
      top: 7px;
      margin: 0;
    }

    input:checked + .xas12 {
      &:after {
        content: "";
        position: absolute;
        width: 9px;
        height: 9px;
        background: #d01427;
        border-radius: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
      }
    }
  }

  &__title {
    color: #fff;
    font-size: 60px;
    @media screen and (max-width: 1000px) {
      font-size: 30px;
    }
  }

  &__text {
    font-size: 24px;
    color: #fff;
    margin-top: 30px;
    @media screen and (max-width: 1000px) {
      font-size: 18px;
      margin-top: 15px;
      margin-bottom: 10px;
      
      br {
        display: none;
      }
    }
  }

  &__input {
    height: 50px;
    width: 100%;
    padding-left: 15px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
    box-sizing: border-box;

    &::placeholder {
      color: #000;
      font-size: 16px;
    }
  }

  &__textarea {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 110px;
    width: 100%;
    padding: 15px;
    border: none;
    resize: none;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    outline: none;

    &::placeholder {
      color: #000;
      font-size: 16px;
    }
  }

  &__btn {
    width: 100%;
    box-sizing: border-box;
    height: 55px;
    border-radius: 5px;
    border:2px solid #fff;
    background: none;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    outline: none;
    @media screen and (max-width: 1000px) {
      font-size: 18px;
    }

    &:hover {
      background: #fff;
      color: #1468b6;
    }
  }

  &__licence {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 14px;
    color: #fff;

    span {
      margin-left: 10px;
    }
  }
}

.form-same {
  display: flex;
  flex-direction: column;
  width: 460px;
  @media screen and (max-width: 1000px) {
    width: 100%;
  }
}

.footer-top {
  background: #e7eef3;
  padding: 44px 0 25px;

  &__logo {
    display: flex;
    align-items: center;

    div {
      margin-left: 45px;
      @media screen and (max-width: 1000px) {
        margin-left: 5px;
        font-size: 12px;
      }
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 1000px) {
      flex-direction: column;
    }
  }
}

.footer-bottom {
  padding: 10px 0 15px;

  &__left {
    div {
      font-size: 14px;
      color: #000;
      margin-bottom: 10px;
      @media screen and (max-width: 1000px) {
        font-size: 12px;
      }
    }

    a {
      font-size: 16px;
      color: #000;
      text-decoration: none;
      border-bottom: 1px solid;
      @media screen and (max-width: 1000px) {
        font-size: 12px;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #000;
    @media screen and (max-width: 1000px) {
      font-size: 12px;
      margin-top: 20px;
    }

    a {
      text-decoration: none;
      font-size: 16px;
      color: #000;
      border-bottom: 1px solid;
      @media screen and (max-width: 1000px) {
        font-size: 12px;
      }
    }

    img {
      margin-right: 10px;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 1000px) {
      flex-direction: column;
    }
  }
}

.dsfds234 {
  margin-left: auto;
  margin-top: 10px;
  @media screen and (max-width: 1000px) {
    margin: 10px auto auto;
  }
}

.foote {
  &__sa {
    font-size: 14px;
    margin-top: 25px;
    margin-left: 20px;
    @media screen and (max-width: 1000px) {
      font-size: 12px;
      margin-top: 15px;
    }
  }
}

.footer-top-information {
  text-align: left;
  @media screen and (max-width: 1000px) {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .header-top-info {
    &__item {
      @media screen and (max-width: 1000px) {
        font-size: 12px;
      }
      &:first-child {
        margin-bottom: 10px;
      }

      margin-left: 0;
    }
  }
}

.sliders-block {
  padding-top: 100px;
  @media screen and (max-width: 1000px) {
    padding-top: 40px;
  }

  &__title {
    margin-bottom: 90px;
    @media screen and (max-width: 1000px) {
      margin-bottom: 25px;
    }
  }
}

.prev {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  left: -80px;
  top: calc(50% - 20px);
  @media screen and (max-width: 1000px) {
    left: 0;
    transform: scale(0.7);
  }

  &::after {
    content: "";
    position: absolute;
    width: 44px;
    height: 41px;
    background: url("../image/arrow-left.png") no-repeat;
  }

  &:hover {
    opacity: 0.8;
  }
}

.next {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  right: -45px;
  top: calc(50% - 20px);
  @media screen and (max-width: 1000px) {
    right: 40px;
    transform: scale(0.7);
  }

  &::after {
    width: 44px;
    height: 41px;
    position: absolute;
    content: "";
    background: url("../image/arrow-right.png") no-repeat;
  }

  &:hover {
    opacity: 0.8;
  }
}

.sliders-block-wrap {
  max-width: 1000px;
  margin: auto;

  &__item {
    text-align: center;

    img {
      margin: auto;
      max-width: 100%;
      display: block;
    }
  }
}

.modal {
  display: none;

  &__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.6);
    z-index: 10;
  }
}

.modal-form {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 575px;
  height: 455px;
  background: #fff;
  border-radius: 5px;
  z-index: 15;
  margin: auto;
  padding: 40px 55px;
  box-sizing: border-box;
  @media screen and (max-width: 1000px) {
    width: 100%;
    height: 100%;
    padding: 20px 25px;
  }

  &__title {
    font-size: 41px;
    color: #404356;
    font-weight: 700;
    text-align: center;
    @media screen and (max-width: 1000px) {
      font-size: 20px;
    }
  }

  &__subtitle {
    text-align: center;
    font-size: 14px;
    color: #404356;
    margin-top: 10px;
    margin-bottom: 20px;
    @media screen and (max-width: 1000px) {
      font-size: 12px;
    }
  }

  &__copyright {
    font-size: 14px;
    color: #343434;
    text-align: center;
    @media screen and (max-width: 1000px) {
      font-size: 12px;
      
      br {
        display: none;
      }
    }
  }

  &__btn {
    width: 100%;
    height: 60px;
    cursor: pointer;
    background: #1468b6;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 24px;
    justify-content: center;
    @media screen and (max-width: 1000px) {
      font-size: 16px;
    }

    &:hover {
      background: none;
      color: #1468b6;
      border:1px solid #1468b6;
    }
  }

  &__field {
    box-sizing: border-box;
    display: block;
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 25px;
    background: #e5efff;
    font-size: 18px;
    @media screen and (max-width: 1000px) {
      font-size: 14px;
    }

    &::placeholder {
      color: #343434;
    }
  }
}

.close-icons {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  @media screen and (max-width: 1000px) {
    transform: scale(0.7);
  }

  &:hover {
    transform: rotate(45deg);
  }
}

.slick-slide {
  @media screen and (max-width: 1000px) {
    padding: 0 40px;
  }
}

.close-icons-m {
  display: none;
}

.burger-mobil {
 display: none;

  span {
    width: 25px;
    height: 3px;
    background: #1468b6;
    display: block;
  }

  @media screen and (max-width: 1000px) {
    display: grid;
    grid-gap: 4px;
  }
}

@media screen and (max-width: 1000px) {
  .close-icons-m {
    position: absolute;
    right: 15px;
    top: 10px;
    transform: scale(0.8);
    display: block;
  }

  .header-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff;
    padding-top: 50px;

    &__item {
      text-align: center;
    }
  }
}

.prd {
  &__title {
    font-weight: 700;
    color: #000;
    font-size: 30px;
    max-width: 650px;
    @media screen and (max-width: 1000px) {
      font-size: 20px;
    }
  }

  &__text {
    margin-top: 15px;

    ul {
      list-style: square;
    }
  }
}

.prd-flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 30px;
  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr;
  }

  &__conte {
    font-size: 16px;
  }
}

.tel-prd {
  background: #d8e6f4;
  padding: 15px 25px;
  margin-top: 80px;
  @media screen and (max-width: 1000px) {
    margin-top: 30px;
  }

  &__text {
    color: #1468b6;
    font-size: 18px;
    @media screen and (max-width: 1000px) {
      font-size: 14px;
      
      br {
        display: none;
      }
    }
  }

  &__i {
    text-decoration: none;
    display: block;
    font-weight: 700;
    font-size: 36px;
    color: #1468b6;
    @media screen and (max-width: 1000px) {
      font-size: 18px;
    }
  }
}

.banner-section {
  width: 580px;
  @media screen and (max-width: 1000px) {
    width:300px;
  }

  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }

  .slick-slide {
    outline: 1px solid #a3a3a3;
    outline-offset: -2px;
    box-sizing: border-box;
  }

  .slider-nav {
    .slick-slide {
      &.slick-current.slick-active {
        outline: 1px solid #196DB6;
        outline-offset: -2px;
      }
    }
  }
}

.lb-number {
  display: none !important;
}

.vehicle-detail-banner .car-slider-desc {
  max-width: 180px;
  margin: 0 auto;
}
.banner-slider .slider.slider-for {
  max-width: 450px;
  padding-right: 15px;
}
.banner-slider .slider.slider-nav {
  max-width: 115px;
}
.banner-slider .slider.slider-for,
.banner-slider .slider.slider-nav {
  width: 100%;
  float: left;
}
.banner-slider .slider.slider-nav {
  overflow: hidden;

}

.banner-slider .slider.slider-nav {
}
.slider-nav .slick-slide.thumbnail-image .thumbImg{

  height: 115px;
  margin: 0 auto;
}
.slider-banner-image img,
.slider-nav .slick-slide.thumbnail-image .thumbImg img {
  height: 100%;
  width:100%;
  object-fit: cover;
}
.slick-vertical .slick-slide:active,
.slick-vertical .slick-slide:focus,
.slick-arrow:hover,
.slick-arrow:focus {
  border: 0;
  outline: 0;
}
.slider-nav .slick-slide.slick-current.thumbnail-image .thumbImg {

}
.slider-nav .slick-slide.slick-current span {
  color: #196DB6;
}
.slider-nav .slick-slide {
  text-align: center;
}
.slider-nav .slick-slide span {
  font-size: 14px;
  display: block;
  padding: 5px 0 15px;
}
.slick-arrow {
  width: 100%;
  background-color: transparent;
  border: 0;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
  height: 18px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 99;
}
.slick-prev {
  top: 0;
}
.slick-next {
  bottom: 0;
  background-color: #fff;
}
/*End USE CSS for Slider*/

.slick-vertical .slick-slide {
  padding: 1px 0;    border: 2px solid transparent !important;
}

@media screen and (max-width : 991px) {

  .banner-slider .slider.slider-for,
  .banner-slider .slider.slider-nav {
    max-width: 100%;
    float: none;
  }
  .banner-slider .slider.slider-for {
    padding-right: 0;
  }
  .banner-slider .slider.slider-nav {
    height: auto;
  }
  .slider-banner-image {
    height: 500px;
  }
  .slider.slider-nav.thumb-image {
    padding: 10px 30px 0;
  }
  .slider-nav .slick-slide span {
    padding: 5px 0;
  }
  .slick-arrow {
    padding: 0;
    width: 30px;
    height: 30px;
    top: 50%;
    bottom: 0;
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -moz-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg);
  }
  .slick-prev {
    left: 0;
    right: unset;
  }
  .slick-next {
    left: unset;
    right: 0;
    background-color: transparent;
  }
  .vehicle-detail-banner .car-slider-desc {
    max-width: 340px;
  }
  .bid-tag {
    padding: 10px 0 15px;
  }
  .slider.slider-nav.thumb-image {
    white-space: nowrap;
  }
  .thumbnail-image.slick-slide {
    padding: 0px 5px;
    min-width: 75px;
    display: inline-block;
  }
}

@media screen and (max-width : 767px) {
  .slider-banner-image {
    height: 400px;
  }
  .slider.slider-nav.thumb-image {
    padding: 0 !important;
    margin: 10px 0px 0;
  }
  .slider-nav .slick-slide.thumbnail-image .thumbImg {
    max-width: 140px;
    height: 80px;
  }
  .slick-prev.slick-arrow {
    background-position: center 10px;
  }
  .slick-next.slick-arrow {
    background-position: center 10px, center;
  }
  .slider-nav .slick-slide span {
    font-size: 12px;
    white-space: normal;
  }
}

@media screen and (max-width: 580px) {
  .slider-banner-image {
    height:340px;
  }
}

@media screen and (max-width : 480px) {
  .slider-banner-image {
    height:280px;
  }
}

@media screen and (min-width: 1000px) {
  body.product .header-menu {
    border-bottom: 1px solid #b4b4b4;
  }
  body.page .header-menu {
    border-bottom: 1px solid #b4b4b4;
  }
}

.page-d-l {
  margin-top: 50px;
  display: grid;
  grid-gap: 45px;
  @media screen and (max-width: 1000px) {
    grid-gap: 25px;
  }

  &__title {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    @media screen and (max-width: 1000px) {
      font-size: 18px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 23px;
    @media screen and (max-width: 1000px) {
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__btn {
    width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    background: #1468b6;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    border: 1px solid transparent;

    @media screen and (max-width: 1000px) {
      font-size: 14px;
    }

    &:hover {
      border: 1px solid #1468b6;
      background: unset;
      color: #1468b6;
    }
  }
}

.page-d-pag {
  margin-top: 60px;
  font-size: 16px;
  display: flex;
  justify-content: center;

  a {
    color: #000;
    text-decoration: none;
    margin: 0 6px;
  }
}